# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env/
venv/
.venv/

# Streamlit cache and config
.streamlit/

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Logs and databases
*.log
*.sqlite3

